/* Set the size of the div element that contains the map */
#map {
   
   /*height: 100%; 
    The height is 400 pixels 
   width: 100%;
   background-size: cover;
    object-fit: fit;
    overflow: hidden;
    position: relative; 



    
    object-fit:cover;
    max-width: 100%;
    height: auto;*/

  height: 100%;
  width: auto;
  overflow: hidden;
    
  }


  body{
    height: 100vh;
    height: 100vw;
    overflow: hidden;
    
    margin: 0px;
  }
